{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>กิจกรรมเพื่อพัฒนาจิตใจและอารมณ์</title>
    <link rel="stylesheet" href="{% static 'style_back_bar.css' %}">
    <link rel="stylesheet" href="{% static 'style_actdetail.css' %}">
</head>

<body>
    <div class="bar">
        <a href="{% url 'home' %}">บ้านหยาดหิมะ</a>
        <a href="{% url 'activity' %}">กิจกรรม</a>
        <a href="{% url 'home' %}"><img src="{% static 'image/pngwing.png' %}" alt="Logo"></a>
        <a href="{% url 'news' %}">ข่าวสาร</a>
        <a href="{% url 'work' %}">จ้างงาน</a>
    </div>

    <div class="floral-left"></div>
    <div class="floral-right"></div>

    <div class="container">
        <h1>กิจกรรมเพื่อพัฒนาจิตใจและอารมณ์</h1>
        <div class="box">
            <img src="{% static 'image/art.jpg' %}">
            <div class="content">
                <h3>กิจกรรม Senior Art Club คอร์สเรียนศิลปะสำหรับวัยเก๋า</h3>
                <p>'Happy Senior Art Club' ศิลปะสำหรับวัยเก๋า คลาสพิเศษ 1 วันเต็ม! โดย ทีมงาน SAKURA . เข้าร่วมฟรี
                    ไม่มีค่าใช้จ่าย . ชวนพี่ๆ ร่วมสร้างผลงานศิลปะเพื่อสิ่งแวดล้อมบนผ้าใบ Canvas ด้วยสีอะคริลิค
                    *ผลงานของพี่ๆ คนไหนเข้าตาทีมงาน จะได้นำไปจัดแสดงที่ ESG Bonding Hub . 18 ก.ค. 68 13.30-15.30 น.
                    รอบบ่าย *หมายเหตุเลือกลงได้แค่ 1 รอบกิจกรรมเท่านั้น</p>
                <p><b>จัดกิจกรรม : </b>18/11/2567</p>
                <p><b>เวลา : </b>13:30 น. - 15:30 น.</p>
                <p><b>สถานที่ : </b>ESG Bonding Hub ชั้น B1 The Ninth Towers</p>
            </div>
        </div>
    </div>
</body>

</html>