<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>กิจกรรมเพื่อส่งเสริมสุขภาพร่างกาย</title>
    <link rel="stylesheet" href="css/style_back_bar.css">
    <link rel="stylesheet" href="css/style_actdetail.css">
</head>

<body>
    <div class="bar">
        <a href="#">บ้านหยาดหิมะ</a>
        <a href="activity.html">กิจกรรม</a>
        <a href="#"><img src="image/pngwing.png" alt="Logo"></a>
        <a href="news.html">ข่าวสาร</a>
        <a href="#">จ้างงาน</a>
    </div>

    <div class="floral-left"></div>
    <div class="floral-right"></div>

    <div class="container">
        <h1>กิจกรรมเพื่อส่งเสริมสุขภาพร่างกาย</h1>
        <div class="box">
            <img src="image/zumba.jpg">
            <div class="content">
                <h3>เต้นสะบัด ไปกับ Zumba Gold</h3>
                <p>ชวนพี่ๆ มาทำความรู้จักกับ ZUMBA GOLD
                    การเต้นแบบละตินอเมริกาสำหรับวัยเก๋าที่จะให้ทั้งความสุขและสุขภาพแข็งแรงกันแบบมันๆ
                    งานนี้ต้องเตรียมขาให้พร้อม วอร์มเสียงกันมาด้วย เพราะสไตล์ครูเบิร์ดจะเต้นเงียบๆ ไม่ได้</p>
                <p><b>จัดกิจกรรม : </b>20/10/2567</p>
                <p><b>เวลา : </b>13:30 น. - 15:30 น.</p>
                <p><b>สถานที่ : </b>ESG Bonding Hub ชั้น B1 The Ninth Towers</p>
            </div>
        </div>
    </div>
</body>

</html>