{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>กิจกรรมเพื่อพัฒนาทักษะทางเทคโนโลยี</title>
    <link rel="stylesheet" href="{% static 'style_back_bar.css' %}">
    <link rel="stylesheet" href="{% static 'style_actdetail.css' %}">
</head>

<body>
    <div class="bar">
        <a href="{% url 'home' %}">บ้านหยาดหิมะ</a>
        <a href="{% url 'activity' %}">กิจกรรม</a>
        <a href="{% url 'home' %}"><img src="{% static 'image/pngwing.png' %}" alt="Logo"></a>
        <a href="{% url 'news' %}">ข่าวสาร</a>
        <a href="{% url 'work' %}">จ้างงาน</a>
    </div>

    <div class="floral-left"></div>
    <div class="floral-right"></div>

    <div class="container">
        <h1>กิจกรรมเพื่อพัฒนาทักษะทางเทคโนโลยี</h1>
        <div class="box">
            <img src="{% static 'image/internet.png' %}">
            <div class="content">
                <h3>เปิดโลกอินเตอร์เน็ต 101</h3>
                <p>พี่ ๆ ท่านไหนที่ไม่สันทัดด้านการใช้งานโทรศัพท์มือถือขอให้ยกมือขึ้น! โอกาสนี้ไม่ลงไม่ได้แล้ว
                    คอร์สเรียนปูพื้นฐานด้านการใช้งานอินเตอร์เน็ต พาไปทำความเข้าใจเรื่อง 4G 5G หรือ cellular , wifi เว็บ
                    Browser, แอปพลิเคชัน, ปิดเน็ต เปิดเน็ต, โหมดเครื่องบิน รวมถึงทำความรู้จักแอปพลิเคชันพื้นฐาน
                    ว่าในปัจจุบันผู้คนใช้แอปใด ทำอะไรบ้างนั่นเอง (สำหรับพี่ ๆ
                    ไม่มีพื้นฐานหรือมีพื้นฐานเล็กน้อยด้านการใช้งานมือถือและอินเตอร์เน็ต)</p>
                <p><b>จัดกิจกรรม : </b>24/10/2567</p>
                <p><b>เวลา : </b>10:00 น. - 12:00 น.</p>
                <p><b>สถานที่ : </b>ESG Bonding Hub ชั้น B1 The Ninth Towers</p>
            </div>
        </div>
    </div>
</body>

</html>