{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>กิจกรรมงานอดิเรกสร้างสรรค์</title>
    <link rel="stylesheet" href="{% static 'style_back_bar.css' %}">
    <link rel="stylesheet" href="{% static 'style_actdetail.css' %}">
</head>

<body>
    <div class="bar">
        <a href="{% url 'home' %}">บ้านหยาดหิมะ</a>
        <a href="{% url 'activity' %}">กิจกรรม</a>
        <a href="{% url 'home' %}"><img src="{% static 'image/pngwing.png' %}" alt="Logo"></a>
        <a href="{% url 'news' %}">ข่าวสาร</a>
        <a href="{% url 'work' %}">จ้างงาน</a>
    </div>

    <div class="floral-left"></div>
    <div class="floral-right"></div>

    <div class="container">
        <h1>กิจกรรมงานอดิเรกสร้างสรรค์</h1>
        <div class="box">
            <img src="{% static 'image/บัวลอย.jpg' %}">
            <div class="content">
                <h3>Workshop ทำบัวลอยแฝดสามน้ำขิง</h3>
                <p>ชวนพี่ ๆ มีฝึกปรือฝีมือทำขนม กับ บัวลอยแฝดสามน้ำขิง ซึ่งเป็นอาหารว่างที่ดีต่อสุขสุขภาพ
                    เหมาะมากกับการเป็นขนมหน้าฝน เพราะมีส่วนช่วยป้องกันโรคหวัด ใน Workshop นี้พี่ ๆ จะได้เรียนรู้ -
                    การเลือกใช้วัตถุดิบเพื่อสุขภาพในการนำมาประกอบอาหารว่าง - ประโยชน์ของสมุนไพรที่นำมาใช้ทำบัวลอยน้ำขิง
                    เช่น ขิง งาดำ สิ่งที่ต้องเตรียม - ผ้ากันเปื้อน</p>
                <p><b>จัดกิจกรรม : </b>10/11/2567</p>
                <p><b>เวลา : </b>10:00 น. - 12:00 น.</p>
                <p><b>สถานที่ : </b>ร้านคุณแดง ปั้นแป้ง บัวลอย 7 สี</p>
            </div>
        </div>
    </div>
</body>

</html>