<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>กิจกรรมงานอดิเรกสร้างสรรค์</title>
    <link rel="stylesheet" href="css/style_back_bar.css">
    <link rel="stylesheet" href="css/style_actlist.css">
</head>

<body>
    <div class="bar">
        <a href="#">บ้านหยาดหิมะ</a>
        <a href="activity.html">กิจกรรม</a>
        <a href="#"><img src="image/pngwing.png" alt="Logo"></a>
        <a href="news.html">ข่าวสาร</a>
        <a href="#">จ้างงาน</a>
    </div>

    <div class="floral-left"></div>
    <div class="floral-right"></div>

    <div class="container">
        <h1>กิจกรรมงานอดิเรกสร้างสรรค์</h1>
        <div class="box">
            <img src="image/บัวลอย.jpg">
            <div class="content">
                <h3>Workshop ทำบัวลอยแฝดสามน้ำขิง</h3>
                <p><b>จัดกิจกรรม : </b>10/11/2567</p>
                <p><b>สถานที่ : </b>ร้านคุณแดง ปั้นแป้ง บัวลอย 7 สี</p>
                <a href="detail_hob1.html">ดูรายละเอียด</a>
            </div>
        </div>
        <div class="box">
            <img src="image/diy.png">
            <div class="content">
                <h3>D.I.Y โสร่ง สู่มาลัยสวย</h3>
                <p><b>จัดกิจกรรม : </b>09/12/2567</p>
                <p><b>สถานที่ : </b>ร้านมาลัยผ้า​ ศิลปะ​ประดิษฐ์​</p>
                <a href="#">ดูรายละเอียด</a>
            </div>
        </div>
    </div>
</body>

</html>