{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Home</title>
    <link rel="stylesheet" href="{% static 'style_home.css' %}">
    <link rel="stylesheet" href="{% static 'style_back_bar.css' %}">

</head>
<body>
    <div class="bar">
        <a href="{% url 'home' %}">บ้านหยาดหิมะ</a>
        <a href="{% url 'activity' %}">กิจกรรม</a>
        <a href="{% url 'home' %}"><img src="{% static 'image/pngwing.png' %}" alt="Logo"></a>
        <a href="{% url 'news' %}">ข่าวสาร</a>
        <a href="{% url 'work' %}">จ้างงาน</a>
    </div>
    
    <div class="back"></div>

    <div class="card">
        <img src="{% static 'image/flower.png' %}">
        <h3>สวัสดีวันอังคาร</h3>
    </div>

    <header>
        <h1>Blog Posts</h1>
        <nav>
            {% if user.is_authenticated %}
                <span>Welcome, {{ user.username }}!</span>
                <a href="{% url 'logout' %}">Logout</a>
                <!-- ลิงก์ Create Blog และ Create Category สำหรับผู้ใช้ที่ล็อกอิน -->
                <a href="{% url 'blog_create' %}">Create Blog</a>
                <a href="{% url 'category_create' %}">Create Category</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav> 
    </header>
    
    <div class="container">
        {% if blogs %}
        <ul>
            {% for blog in blogs %}
                <li>
                    <h2>{{ blog.title }}</h2>
                    <p>{{ blog.content|truncatewords:30 }}</p>
                    <a href="{% url 'blog_detail' blog.id %}">Read More</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No blog posts available.</p>
        {% endif %}
    </div>
</body>
</html>
