{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>

    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <a href="{% url 'register' %}">Register</a> <!-- ลิงค์ไปที่หน้าลงทะเบียนถ้าจำเป็น -->
    </main>

    <footer>
        <p>&copy; {{ year }} Your Blog Name</p>
    </footer>
</body>
</html>
