<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>กิจกรรมเพื่อพัฒนาจิตใจและอารมณ์</title>
    <link rel="stylesheet" href="css/style_back_bar.css">
    <link rel="stylesheet" href="css/style_actlist.css">
</head>

<body>
    <div class="bar">
        <a href="#">บ้านหยาดหิมะ</a>
        <a href="activity.html">กิจกรรม</a>
        <a href="#"><img src="image/pngwing.png" alt="Logo"></a>
        <a href="news.html">ข่าวสาร</a>
        <a href="#">จ้างงาน</a>
    </div>

    <div class="floral-left"></div>
    <div class="floral-right"></div>

    <div class="container">
        <h1>กิจกรรมเพื่อพัฒนาจิตใจและอารมณ์</h1>
        <div class="box">
            <img src="image/art.jpg">
            <div class="content">
                <h3>กิจกรรม Senior Art Club คอร์สเรียนศิลปะสำหรับวัยเก๋า</h3>
                <p><b>จัดกิจกรรม : </b>18/11/2567</p>
                <p><b>สถานที่ : </b>ESG Bonding Hub ชั้น B1 The Ninth Towers</p>
                <a href="detail_mood1.html">ดูรายละเอียด</a>
            </div>
        </div>
        <div class="box">
            <img src="image/art2.jpg">
            <div class="content">
                <h3>หลักสูตรวัยเก๋านักเล่าเรื่อง กับศิลปะการเล่าเรื่องตรงประเด็น</h3>
                <p><b>จัดกิจกรรม : </b>16/12/2567</p>
                <p><b>สถานที่ : </b>ESG Bonding Hub ชั้น B1 The Ninth Towers</p>
                <a href="#">ดูรายละเอียด</a>
            </div>
        </div>
    </div>
</body>

</html>