<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>กองทุนผู้สูงอายุ</title>
  <link rel="stylesheet" href="css\news.css">
</head>

<body>
  <header>
  </header>

  <div class="bar">
    <a href="#">บ้านหยาดหิมะ</a>
    <a href="#">กิจกรรม</a>
    <a href="#"><img src="css\pngwing.png" alt="Logo"  ></a>
    <a href="news.html">ข่าวสาร</a>
    <a href="#">จ้างงาน</a>
  </div>

  <div class="floral-left"></div>
  <div class="floral-right"></div>
  <div class="con">
    <h1> พม.โดย กรมผส. เชิญชวนผู้สูงอายุที่ได้รับการสนับสนุนกู้ยืมเงินทุนเพื่อการประกอบอาชีพ เข้าร่วมโครงการอบรมรบเชิงปฏิบัติการเพื่อพัฒนาศักยภาพในการประกอบอาชีพแก่ผู้กู้ยืมเงินทุนประกอบอาชีพ รุ่นที่ 3</h1>
    <img src="css\พม.png">
  </div>
  
</body>
</html>