<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>กองทุนผู้สูงอายุ</title>
  <link rel="stylesheet" href="css\news.css">
</head>

<body>
  <header>
  </header>

  <div class="bar">
    <a href="#">บ้านหยาดหิมะ</a>
    <a href="#">กิจกรรม</a>
    <a href="#"><img src="css\pngwing.png" alt="Logo"  ></a>
    <a href="news.html">ข่าวสาร</a>
    <a href="#">จ้างงาน</a>
  </div>

  <div class="floral-left"></div>
  <div class="floral-right"></div>
  <div class="con">
    <h1> DOP JOURNAL by Strategy and Planning Division ฉบับที่ 6/2567 HAPPY PRIDE ผู้สูงอายุ LGBT</h1>
    <img src="css\lgbt.jpg">
  </div>
</body>
</html>