{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>กองทุนผู้สูงอายุ</title>
  <link rel="stylesheet" href="{% static 'news.css' %}">
</head>

<body>
  <header>
  </header>

  <div class="bar">
    <a href="{% url 'home' %}">บ้านหยาดหิมะ</a>
    <a href="{% url 'activity' %}">กิจกรรม</a>
    <a href="{% url 'home' %}"><img src="{% static 'image/pngwing.png' %}" alt="Logo"></a>
    <a href="{% url 'news' %}">ข่าวสาร</a>
    <a href="{% url 'work' %}">จ้างงาน</a>
</div>

  <div class="floral-left"></div>
  <div class="floral-right"></div>
  <div class="con">
    <h1>เจอข่าวร้าย & ข่าวลวงทำไงดี</h1>
    <img src="{% static 'image\ข่าวลวง.png' %}" alt="ข่าวลวง" style="max-width:100%; height:auto;">
    
    <div class="news-section">
      <article class="news-item">
        <p>
          เจอข่าวร้าย & ข่าวลวงทำไงดี<br>
          <br>
          วิธีรับมือข่าวลวง (Fake News) และข่าวร้าย (Bad News) ในช่วงที่เราถูกห้อมล้อมด้วยข่าวสารมากมาย ทางเพจเลยรวบรวมเทคนิคการตรวจสอบข่าวและข้อมูลให้ชัวร์ก่อนแชร์ และเทคนิคการรับมือข่าวร้าย ๆ ด้วยสุขภาวะทางปัญญา ทำให้ใจไม่เป็นทุกข์และร้อนรนไปกับข่าวสารที่ได้รับ ทำให้จัดการตัวเองได้ง่ายมากยิ่งขึ้น
          <br>
          <br>
          ข่าวลวง<br>
          - อย่าเชื่อทันที<br>
          - อย่าอ่านหรือเชื่อแค่พาดหัวข่าว<br>
          - ตรวจสอบลิงก์หรือแหล่งที่มา<br>
          - พิจารณาภาพให้ดี<br>
          - สอบถามผู้รู้หรือเช็กข้อมูลหลายที่มาประกอบ<br>
          <br>
          ข่าวร้าย (หรือข่าวที่ไม่ชอบใจ)<br>
          - อย่าเพิ่งตอบโต้หรือแสดงความรู้สึกลบในทันที<br>
          - ตั้งสติ ตั้งรับอารมณ์ตัวเอง<br>
          - คาดเดาเหตุผลหรือความรู้สึกของผู้โพสต์<br>
          - ทบทวนความเข้าใจที่มีต่อตัวเองและผู้อื่น ค่อย ๆ ตัดสินใจแสดงออก<br>
          <br>
          ขอบคุณข้อมูลดี ๆ จาก : ศูนย์ต่อต้านข่าวปลอมประเทศไทย​
        </p>
      </article>
    </div>
  </div>
</body>
</html>