<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>กิจกรรมเพื่อพัฒนาทักษะทางเทคโนโลยี</title>
    <link rel="stylesheet" href="css/style_back_bar.css">
    <link rel="stylesheet" href="css/style_actlist.css">
</head>

<body>
    <div class="bar">
        <a href="#">บ้านหยาดหิมะ</a>
        <a href="activity.html">กิจกรรม</a>
        <a href="#"><img src="image/pngwing.png" alt="Logo"></a>
        <a href="news.html">ข่าวสาร</a>
        <a href="#">จ้างงาน</a>
    </div>

    <div class="floral-left"></div>
    <div class="floral-right"></div>

    <div class="container">
        <h1>กิจกรรมเพื่อพัฒนาทักษะทางเทคโนโลยี</h1>
        <div class="box">
            <img src="image/internet.png">
            <div class="content">
                <h3>เปิดโลกอินเตอร์เน็ต 101</h3>
                <p><b>จัดกิจกรรม : </b>24/10/2567</p>
                <p><b>สถานที่ : </b>ESG Bonding Hub ชั้น B1 The Ninth Towers</p>
                <a href="detail_tech1.html">ดูรายละเอียด</a>
            </div>
        </div>
        <div class="box">
            <img src="image/internet2.png">
            <div class="content">
                <h3>สูงวัยออนไลน์ด้วยรอยยิ้ม</h3>
                <p><b>จัดกิจกรรม : </b>01/11/2567</p>
                <p><b>สถานที่ : </b>ESG Bonding Hub ชั้น B1 The Ninth Towers</p>
                <a href="#">ดูรายละเอียด</a>
            </div>
        </div>
    </div>
</body>

</html>