<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_work.css">
    <title>Job Card</title>
</head>

<body>
    <div class="topnav">
        <a href="#home" class="link-left">สวัสดีวันอังคาร</a>
        <div class="right-links">
            <a href="#news">ข่าวสาร</a>
            <a href="#contact">กิจกรรม</a>
            <a href="#about">โครงการจ้างงานบ้านหยาดหิมะ</a>
        </div>
    </div>
    
    <div class="content-wrapper">
        <img class="side-image" src="image/pngegg.png" alt="Left Image">
        <div class="text-container">
            <h1>โครงการจ้างงานบ้านหยาดหิมะ</h1>
            <div class="content">
                <div class="job-card">
                    <img class="job-image" src="image/young2.jpg" alt="Job Image">
                    <div class="job-content">
                        <h2>ชวนคุณลุงคุณป้า สร้างรายได้จากการชงเครื่องดื่ม</h2>
                        <p>งานบาริสต้าเป็นทางเลือกที่เหมาะสมสำหรับผู้สูงอายุที่มีความรักในการทำกาแฟและการให้บริการลูกค้า
                            ผู้สูงอายุสามารถนำประสบการณ์และความรู้ที่มีในการทำกาแฟมาประยุกต์ใช้ในการทำงาน
                            โดยงานบาริสต้าไม่เพียงแต่จะช่วยให้ผู้สูงอายุมีรายได้ที่มั่นคง
                            แต่ยังเป็นการสร้างความสัมพันธ์ที่ดีกับลูกค้าและสร้างบรรยากาศที่น่ารื่นรมย์ในร้านกาแฟ</p>
                        <div class="btn-wrapper">
                            <button class="btn-details"
                                onclick="window.location.href='detail-job.html'">ดูรายละเอียด</button>
                        </div>
                    </div>
                </div>
                <div class="job-card">
                    <img class="job-image" src="image/young.jpg" alt="Job Image">
                    <div class="job-content">
                        <h2>ความสะอาดพื้นที่สาธารณะ ให้บ้านเมืองสวยงามน่าอยู่</h2>
                        <p>ตำแหน่งพนักงานทำความสะอาดเป็นอีกหนึ่งทางเลือกที่เหมาะสำหรับผู้สูงอายุ
                            ที่มีความรับผิดชอบและต้องการงานที่มีความมั่นคง
                            โดยนักงานทำความสะอาดมีบทบาทสำคัญในการรักษาความสะอาดและสุขอนามัยของสถานที่ต่าง ๆ เช่น
                            สำนักงาน โรงเรียน หรือบ้านพักอาศัย</p>
                        <div class="btn-wrapper">
                            <button class="btn-details"
                                onclick="window.location.href='detail-job.html'">ดูรายละเอียด</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="side-image" src="image/pngegg.png" alt="Right Image">
    </div>
</body>

</html>